div{
    color: red;
    font-size:  100px;
    text-decoration: underline;
}
div1{
    color: black;
    font-size:  54px;
    
}
span{
    color: blue;
    background: black;
}
a:hover{    color: brown;}
a:active{   color: aqua;}
input:focus{
    background: orange;
}

.fruits span:first-child{
    color: red;
}
.fruits h3:last-child{
    color: red;
}
.fruits *:nth-child(2){
    color: blueviolet;
}
.fruits *:not(span){
    color: green;
}